body {
  background-color: rgb(7, 7, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botonPrincipal {
  padding: 10px;
  font-size: 1.2rem;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: black 2px 2px;
}

.botonPrincipal > a {
  text-decoration: none;
  color: rgb(7, 7, 75);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 10px 10px;
  margin: 50px;
  font-size: 1.5rem;
}

.counter span {
  font-size: 2.5rem;
  padding: 30px;
}

.container h1 {
  text-transform: uppercase;
  color: rgb(7, 7, 75);
}

.temporizador {
  margin-bottom: 30px;
}

.container input[type="number"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000000c6;
  background-color: transparent;
  font-size: 1.5rem;
  margin: 10px;
  text-align: left;
}

.container .counter button{
  justify-content: center;
  margin: 8px;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: rgb(0, 0, 0) solid;
  background-color: rgb(7, 7, 75);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  transition: transform 0.5s;
  color: white;
}

.container .temporizador button{
  justify-content: center;
  margin: 8px;
  width: 90px;
  height: 60px;
  border-radius: 15px;
  border: rgb(0, 0, 0) solid;
  background-color: rgb(7, 7, 75);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  transition: transform 0.5s;
  color: white;
}

.container button:hover {
  transform: scale(1.3);
}